<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<!-- typeAlias : com.goodee.ex10 ~~ noticeDTO -->
	<typeAliases>
		<typeAlias type="com.goodee.ex10.domain.NoticeDTO" alias="NoticeDTO" />
	</typeAliases>
	
</configuration>